@{
    ViewData["Title"] = "My Resume";
}

<h2>My Resume</h2>
<a class="btn btn-primary mb-3" asp-controller="Home" asp-action="Index">⬅ Back to Home</a>

<iframe src="@Url.Content("~/Sugan%20B.pdf")" width="100%" height="600px"></iframe>
